<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
      <main>
        <div class="lp">
          <!--- START: NAV --->
          <nav class="lp__nav">
            <img src="https://cdn.pixabay.com/photo/2016/12/19/03/14/computer-1917230__480.png" class="lp__nav__logo">
            <p class="lp__nav__text">Giyant |.</p>
          </nav>
          <!--- END: NAV --->
      
          <section class="lp__body">
          <!--- START: TEXT --->
          <div class="lp__text">
            <h1 class="lp__text__title"><span class="lp__text__title-first">init-proj</span>
            </h1>
            <p class="lp__text__subtext">A simple wa to init your projects, save yourself the time to set up: just run init-proj on your terminal.</p>
          </div>
          <!--- END: TEXT --->
      
          <!--- START: IMG --->
          <div class="lp__mainImg">
            <img src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/experience_design_eq3j.svg" class="lp__mainImg__img">
          </div>
          <!--- END: IMG --->
          </section>
        </div>
      </main>
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,500,700,900&display=swap" rel="stylesheet"> 
</body>
</html>